@model ViewModels.EstadoCuentaViewModel

<div>
    <h4>EstadoCuentaViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimiteCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimiteCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoDisponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprasMesActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprasMesActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprasMesAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprasMesAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TasaInteres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TasaInteres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteresBonificable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteresBonificable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuotaMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuotaMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoContadoConIntereses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoContadoConIntereses)
        </dd>
    </dl>
</div>
